body {
  font-family: "Azeret Mono", monospace;
}

/* Common property */
* {
  margin: 0;
  padding: 0;
}
.align-center {
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-items {
  align-items: center;
}
.p-text {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.text-align-l {
  text-align: left;
}
.text-align-c {
  text-align: center;
}

.cursor:hover {
  cursor: pointer;
}

/* Border */
.border {
  border: 1px solid red;
}

/* Nav */
nav {
  width: 1140px;
  margin: 38px auto;
}

nav h1 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  text-align: left;
}

nav button {
  width: 228px;
  height: 58px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  font-size: 20px;
}

/* Main */
.banner {
  width: 1440px;
  height: 652px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./assets/hero-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

main .banner h1 {
  width: 998px;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
}

main .banner p {
  width: 852px;
}

main .banner button {
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: #fff;
}

/* Development */
.development {
  width: 1140px;
  height: 1395px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 74px;
  padding: 80px 97px;
  box-sizing: border-box;
}

/* Card */
.card-text {
  width: 477px;
  height: 240px;
}
.card-text h1 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.card-btn {
  width: 150px;
  height: 48px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.7;
}
.card-1 {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-2 {
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-3 {
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* Inspiration */
.inspiration {
  margin-top: 88px;
  width: 1140px;
  height: 777px;
}

.inspiration h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.youtube-section {
  width: 1140px;
  height: 614px;
  padding: 64px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.target {
  margin-top: 149px;
  width: 1140px;
  height: 463px;
}

.target-cards {
  width: 1140px;
}

.target-card {
  width: 364px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.target-card h1 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.target-card a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
}
.target-card-1 {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.target-card-2 {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.target-card-3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

/* Next target */
.next-target {
  margin-top: 111px;
  width: 1140px;
  height: 995px;
}
.next-target > h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.next-target-card {
  width: 1140px;
  height: 220px;
  padding: 20px 30px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
}

.learn-more-link {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
}

.n-t-h1 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.target-img-div {
  width: 108px;
  height: 108px;
}
.target-img-div img {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Support */
.support {
  margin-top: 49px;
  margin-bottom: 100px;
  width: 1140px;
  height: 313px;
  border-radius: 16px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(59, 51, 51, 0.6)),
    url("./assets/handshake.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.support h1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.support p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

input[type="text"] {
  width: 548px;
  height: 57px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding-left: 15px;
  border: none;
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
}
input[type="submit"] {
  width: 120px;
  height: 57px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
}
