body {
  font-family: "Azeret Mono", monospace;
}

/* Common property */
* {
  margin: 0;
  padding: 0;
}
.align-center {
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
.align-items {
  align-items: center;
}
.p-text {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.text-align-l {
  text-align: left;
}
.text-align-c {
  text-align: center;
}

.cursor:hover {
  cursor: pointer;
}

/* Border */
.border {
  border: 1px solid red;
}

/* Nav */
nav {
  width: 1140px;
  margin: 38px auto;
}

nav h1 {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  text-align: left;
}

nav button {
  width: 228px;
  height: 58px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  font-size: 20px;
}

/* Main */
main {
  width: 1440px;
  height: 652px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./assets/Hero-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

main h1 {
  width: 998px;
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
}

main p {
  width: 852px;
}

main button {
  /* padding: 21px 24px 21px 24px; */
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: #fff;
}
